@page {
	margin: 0 .5in;
	size: 21cm 27cm;
}

html {
	width: 100%;
}

body {
	counter-reset: heading;
	font: 12pt "Courier New", Courier, monospace;
	margin: 0;
	orphans: 3;
	text-align: left;
}

header h2 {
	font-size: 11pt;
	margin-bottom: 24pt;
}

h1 {
	font-size: 16pt;
	font-weight: 100;
	margin-bottom: 24pt;
	margin-top: 60pt;
	text-align: center;
}

#byline {
	font-size: 11pt;
	font-weight: 100;
	margin-bottom: 33pt;
}

nav {
	margin-bottom: 150pt;
	text-transform: uppercase;
}

nav h2 {
	counter-reset: tocheading;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 8pt;
	text-transform: uppercase;
}

nav h3 {
	counter-increment: tocheading;
	counter-reset: tocsubheading;
	margin: 10pt 0 5pt 0;
	position:relative;
}

nav h3::before {
	content: counter(tocheading, upper-roman) ". ";
	position: absolute; right: calc(100% + .3em);
}

nav h4 {
	counter-increment: tocsubheading;
	font-size: 14pt;
	font-weight: normal;
	margin: 2pt 0;
	position: relative;
	text-indent: 18pt;
}

nav h4::before {
	content: counter(tocsubheading) ". ";
	position: absolute; right: calc(100% - 1.05em);
	}

nav h5 {
	counter-increment: tocsubheading;
	font-size: 14pt;
	font-weight: normal;
	margin: 2pt 0;
	position: relative;
	text-indent: 18pt;
}

nav h5::before {
	content: counter(tocsubheading) ". ";
	position: absolute; right: calc(100% - 1.05em);
}

h3 {
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 7pt;
	page-break-after: avoid;
	position: relative;
}

h4 {
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 5pt;
	margin-top: 14pt;
	page-break-after: avoid;
}

h3.heading {
	counter-increment: heading;
	counter-reset: subheading category;
	position: relative;
	text-transform: uppercase;
}

h3.heading::before {
	content: counter(heading, upper-roman) ". ";
	min-width : 56pt;
	position: absolute; left: -60pt;
	text-align: right;
}

h4.subheading {
	counter-increment: subheading;
	text-transform: uppercase;
}

h4.subheading::before {
	content: counter(subheading) ". ";
}

p {
	font-size: 12pt;
	hanging-punctuation: always;
	margin-bottom: 12pt;
	margin-top: 0;
	text-align: justify;
}

h5 {
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 5pt;
	margin-top: 14pt;
	page-break-after: avoid;
}

h5.category {
	counter-increment: category;
	text-transform: uppercase;
	page-break-after: avoid;
}

h5.category::before {
	content: counter(category) ". ";
}

.hotkey {
	columns: 2;
	-webkit-columns: 2;
	column-width: 20em;
	-webkit-column-width: 20em;
}

.nobreak {
	break-inside: avoid-column;
	-webkit-column-break-inside: avoid;
}

div.hotkey dl {
	margin-top: 0;
	margin-bottom: 0;
}

div.hotkey {
	margin-bottom: 1em;
}

ol.license {
    counter-reset: list;
}

ol.license > li {
    list-style: none;
    position: relative;
}

ol.license > li:before {
    content: counter(list, lower-alpha) ") ";
    counter-increment: list;
    left: -1.4em;
    position: absolute;
}

footer.back {
	margin-bottom: 24pt;
	margin-top: -7pt;
	page-break-before: avoid;
}

.hotkeylist .back {
	margin-top: 10pt;
	page-break-before: avoid;
}

.hotkeylist {
	page-break-before: always
}

#license {
	page-break-before: always;
}
